*{
  padding: 0;
  margin: 0;;
}

.main{
  width: 100vw;
  height: 100vh;
}

.box{
  width: auto;
  padding: 10%;
  border-radius: 10%;
}

.color-code{
  display: flex;
  color: black;
  background-color: white;
  align-items: center;
}
@media (prefers-color-scheme: light) {

}
