*{
  padding: 0;
  margin: 0;;
}
.box{
  width: auto;
  padding: 10%;
  border-radius: 10%;
}
.main{
  width: 100%;
}
.color-code{
  color: black;
  background-color: white;
}
@media (prefers-color-scheme: light) {

}
